@model PagedList.Core.IPagedList<Ghasedak.Models.UserActivity>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">فعالیت کاربران</h3>
            </div>
            
            
            
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="example2" class="table table-bordered table-hover ">
                    <thead>
                        <tr>
                            
                            <th>کد شخص ثبت کننده</th>
                            <th>وضعیت</th>
                            <th>امکانات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            
                            <td>@item.oprator.code</td>

                            @if (item.status == UserActivityEnum.register)
                            {
                                <td>ثبت</td>
                            }
                            @if (item.status == UserActivityEnum.edit)
                            {
                                <td>ویرایش</td>
                            }
                            @if (item.status == UserActivityEnum.delete)
                            {
                                <td>حذف</td>
                            }
                            

                            <td>
                                <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-default">مشاهده</a>
                            </td>
                        </tr>
                        }


                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="row">
                <div class="col-sm-5">
                </div>
                <div class="col-sm-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                        <ul class="pagination">
                            <li>
                                <pager list="@Model" asp-controller="UserActivity" asp-action="Index" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.col -->
</div>




